/*weather forecast*/
/*----------------------------------------reset-------------------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    box-sizing: border-box;
}

/*--------------------------------colour scheme  1 lighter to 4 darker ------------------------------------*/
/* using variables e.g.
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
body { background-color: var(--blue); }
*/

:root {
  --col_1  : #bbe4e9;   /* lightest*/
  --col_2  : #79c2d0;   /* lighter */
  --col_3  : #53a8b6;   /* darker  */
  --col_4  : #5585b5;   /* darkest */
  --col_td : #000088;   /* text darkest  */
  --col_tm : #39537a;   /* text mid colour */
  --col_tl : #ffffff;   /* text lightest */
  --col_icon: lightyellow; /* general icon related background */
}


/*-------------------------text ---------------------------------------------------------------*/
/*input cursor*/
.cursor {
  background-color: rgb(15 23 42);
  width: 0.25rem;
  height: 2rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
      background-color: transparent;
  }
  50% {
      background-color: rgb(15 23 42);
  }
}

/*----text-----*/

h1 {
  font-size: 2rem;
  align-content: center;
}

h2 {
  font-size: 1.5rem;
  align-content: center;
  padding: 0 5px 0 5px;
}

h2 span {
  display:grid;
  font-size: 1rem;
  align-content: center;
  padding: 0 5px 0 5px;
}

/*------------------------------------ body--------------------------------------------------*/

/*------------------------------------container----------------------------------------------*/

.container {
  height:100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  color: var(--col_td);
}

.left-sidebar {
  display:grid;
  grid-area: 1/1/4/2;
  background-color: lightyellow;
}

.header-zone {
  display:grid;
  grid-template-columns: 2.25fr 5fr 0.75fr;
  justify-content: center;
  align-items: center;
  color: var(--col_td);
  background-color: var(--col_1);
  border-radius: 5px;
  margin-top: 5px;
  grid-area: 1/2/2/3;
}

input {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--col_td);
  width: 90%;
  height: 2rem;
  padding-left: 20px;;
  border-radius: 5px;
}

.deg-btn {
  display:grid;
  width: 95%;
  height: 80%;
  background-color: var(--col_td);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  color: var(--col_tl);
  border-radius: 5px;
}

.data-zone {
  display:grid;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: var(--col_icon); 
  grid-area: 2/2/3/3;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1.25fr 1.25fr;
  grid-template-columns: 1fr;
}

/*----------------------------------------location zone--------------------------------------*/
.locale {
  display:grid;
  grid-area: 1/1/2/2;
  align-content: center;
  background-color: var(--col_icon);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col_td);
  height: 100%;
  padding-left: 10px;
}

/*----------------------------------------main stats zone--------------------------------------*/
.main-stats {
  display:grid;
  grid-area: 2/1/3/2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.temperature_minor,
.temperature {
  display:grid;
  grid-area: 1/1/2/2;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.humidity_minor,
.humidity {
  display:grid;
  grid-area: 1/2/2/3;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

span.humidity,
span.data {
  background-color: var(--col_2);
  height: 14%;
  border:none;
  border-width: 0px;
  border-style: none;
  border-radius: 0px;
}

.icon_minor,
.icon {
  display:grid;
  grid-area: 1/3/2/4;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.precipitation_minor,
.precipitation {
  display:grid;
  grid-area: 1/4/2/5;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.wind_minor,
.wind {
  display:grid;
  grid-area: 1/5/2/6;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}


.wind,
.precipitation,
.icon,
.humidity,
.temperature {
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr;
  font-weight: 600;
  color: var(--col_td);
}

span.top {
  display:grid;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

span.main {
  display:grid;
  grid-area: 2/1/3/2;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
}

/*---------------------------------------local conditions zone----------------------------------------*/
.conditions {
  display: grid;
  grid-area: 3/1/4/2;
  align-items: center;
  background-color: var(--col_icon);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--col_td);
  height: 100%;
  padding-left: 10px;
}

/*---------------------------------------minor stats zone ---------------------------------------------*/
.minor-stats {
  display: grid;
  grid-area: 4/1/5/2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

ul {
  display: grid;
  height: 95%;
  width: 95%;
}

ul #wind,
ul #precipitation,
ul #humidity,
ul #temperature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly; 
  align-items: start;
}

ul #icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-evenly; 
  align-items: start;
}

li {
  display:grid;
  font-size: 1.0rem;
  color: var(--col_tm);
  font-weight: 600;
  align-items: center;
  height: 90%;
  width: 90%;
}

/*minor stats */
ul li#dir,
ul li#precip, 
ul li#rise,
ul li#dew,
ul li#feel{
  grid-area: 1/1/2/2;
  margin : 3%;
}

ul li#dir2,
ul li#precip2,
ul li#rise2,
ul li#dew2,
ul li#feel2 {
  display:grid;
  justify-content: center;
  align-items: center;
  grid-area: 1/2/2/3;
  color: var(--col_td);
  font-size: 1.5rem;
  font-weight: 600;
  margin : 3%;
}

ul li#gust2,
ul li#prob2,
ul li#set2,
ul li#cloud2,
ul li#press2 {
  display:grid;
  justify-content: center;
  align-items: center;
  grid-area: 2/2/3/3;
  color: var(--col_td);
  font-size: 1.5rem;
  font-weight: 600;
  margin : 3%;
}

ul li#uv2 {
  display:grid;
  justify-content: center;
  align-items: center;
  grid-area: 3/2/4/3;
  color: var(--col_td);
  font-size: 1.5rem;
  font-weight: 600;
  margin : 3%;
}

ul li#press,
ul li#gust,
ul li#set,
ul li#cloud {
  grid-area: 2/1/3/2;
  margin : 3%;
}

ul li#prob {
  display:grid;
  justify-content: center;
  align-items: center;
}

ul li#uv {
  grid-area: 3/1/4/2;
  margin : 3%;
}

/* ------------------------------------varied display icon / data zone -------------------------------*/
.varies {
  display: grid;
  grid-area: 5/1/6/2;
  grid-template-rows : 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon-image {
  display:grid;
  grid-area: 1/1/2/2;
  grid-template-rows : 1fr;
  grid-template-columns: 1fr ;
 /* background-color: lightblue; */
  justify-self: center;
  justify-content:space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon-image>li {
  height: 100%;
  width : 100%;
  background-color: lightyellow ;
}

.popup {
  display:grid;
  grid-area: 1/1/2/2;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;           
  grid-template-columns: 1fr;
  height: 90%;
  width: 100%;
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  color: var(--col_td);
  font-size: 1.0rem;
  font-weight: 300;
  background-color: aliceblue;
}

/*first column data*/
#p1 {
  display:grid;
  grid-area: 1/1/2/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}
#p2 {
  display:grid;
  grid-area: 2/1/3/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}

#p3 {
  display:grid;
  grid-area: 3/1/4/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}
#p4 {
  display:grid;
  grid-area: 4/1/5/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height:100%;
}
#p5 {
  display:grid;
  grid-area: 5/1/6/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}
#p6 {
  display:grid;
  grid-area: 6/1/7/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
  
/*second column data */
#p1>span.d_datetime {
  display:grid;
  grid-area: 1/2/2/6;
}  
#p2>span.d_conditions {
  display:grid;
  grid-area: 1/2/2/6;
}  
#p3>span.d_description {
  display:grid;
  grid-area: 1/2/2/6;
} 
#p4>span.d_temp {
  display:grid;
  grid-area: 1/2/2/3;
}
#p4>span.d_tempmax {
  display:grid;
  grid-area: 1/4/2/5;
}
#p4>span.d_tempmin {
  display:grid;
  grid-area: 1/6/2/7;
}
#p5>span.d_humidity {
  /*display:grid;*/
  grid-area: 1/2/2/3;
}
#p5>span.d_cloudcover {
  /*display:grid;*/
  grid-area: 1/4/2/5;
}
#p5>span.d_uvindex {
  /*display:grid;*/
  grid-area: 1/6/2/7;
}
#p6>span.d_windspeed {
  display:grid;
  grid-area: 1/2/2/3;
}
#p6>span.d_winddir {
  display:grid;
  grid-area: 1/4/2/5;
}
#p6>span.d_windgusts {
  display:grid;
  grid-area: 1/6/2/7;
}

.pop {
  height: 100%;
  width: 100%;
  background-color: var(--col_2);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.footer-zone {
  display:grid;
  align-items: center;
  color: blue;
  grid-area: 3/2/4/3;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content:space-evenly;
  gap: 1%;
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
}

.right-sidebar {
  display:grid;
  grid-area: 1/3/4/4;
  background-color: lightyellow;
}